body {
    background-color: lightgrey;
}

.line {
    margin: 3px 0;
    height: 2px;
    background: repeating-linear-gradient(to right, black 0, black 5px, transparent 5px, transparent 7px);
}

.cute-text {
    color: black;
    font-size: larger;
    font-weight: bold;
}
